REACT_APP_APIKEY = YOUR_API_KEY
REACT_APP_AUTHDOMAIN = YOUR_AUTHDOMAIN
REACT_APP_PROJECTID = YOUR_PROJECT_ID
REACT_APP_STORAGEBUCKET = YOUR_STORAGE_BUCKET
REACT_APP_MESSAGING = YOUR_MESSAGING_SENDER_ID
REACT_APP_APPID = "YOUR_APP_ID"
REACT_APP_MEASUREMENT = "YOUR_MEASUREMENT_ID"