@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;

.form {
    padding: 2rem 1rem;
    @include tablet {
        padding: 2rem 7%;
    }
    @include desktop {
        padding: 4rem 15%;
    }
    &__title {
        font-weight: 600;
        margin-bottom: 1.5rem;
    }
    &__control {
        display: flex;
        flex-direction: column;
        gap: 0.2rem;
        margin-bottom: 1.5rem;
    }
    &__radio-control {
        margin-bottom: 1rem;
    }
    &__text {
        margin-bottom: 0.5rem;
    }
    &__label {
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 0.3rem;;
    }
    &__input {
        border: solid 0.5px #8F8F8F;
        border-radius: 15px;
        padding: 0.5rem 1rem;
    }
    &__radio-input {
        margin-right: 0.2rem;
    }
    &__radio-label {
        margin-right: 1.5rem;
    }
    &__textarea {
        resize: none;
    }
    &__btn {
        font-weight: 500;
        width: 100%;
        background-color: $pink;
        color: white;
        border: none;
        padding: 0.5rem 2.5rem;
        border-radius: 15px;
        cursor: pointer;
        &:hover {
            background-color: $orange;
            transition: all 0.3s;
        }
    }
    &__success, &__error {
        padding: 0.5rem 3rem;
        margin: 1.5rem 0;
        font-size: 0.8rem;
    }
    &__success {
        color: green;
        background-color: #f6fef6;
    }
    &__error {
        color: red;
        background-color: #fdf2f2;
        
    };
}