@mixin tablet{
    @media screen and (min-width: 768px) {
        @content;
    }
}
@mixin desktop{
    @media screen and (min-width: 1280px) {
        @content;
    }
}
@mixin form-padding {
    padding-left: 1rem;
    padding-right: 1rem;
    @include tablet{
        padding-left: 7%;
        padding-right: 7%;
    }
    @include desktop {
        padding-left: 15%;
        padding-right: 15%;
    }
}