@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;

.register {
    padding-top: 1rem;
    padding-bottom: 1rem;
    @include form-padding;
    &__title {
        margin: 2rem 0;
    }
}
.register__form input {
    @include desktop{
        max-width: 400px;
    }
}