@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;

.detail {
    font-weight: 600;
    &__content {
        padding: 2rem 1rem;
        @include tablet {
            padding: 2rem 7%;
            display: flex;
            gap: 2rem;
        }
        @include desktop {
            padding: 2rem 15%;
            gap: 3rem;
        }
    }
    &__header {
        padding: 2rem 1rem 0 1rem;
        font-size: 1.1rem;
        display: flex;
        align-items: center;
        gap: 0.3rem;
        @include tablet {
            padding: 2rem 7% 0 7%;
            gap: 0.4rem;
        }
        @include desktop{
            padding: 4rem 15% 0 15%;
        }
    }
    &__icon {
        width: 22px;
        cursor: pointer;
        @include tablet{
            width: 25px;
        }
    }

    &__row {
        display: flex;
        justify-content: space-between;
    }
    &__group {
        font-size: 0.9rem;
        @include tablet{
            width: 50%;
        }
    }
    &__group2 {
        font-size: 0.9rem;
        @include tablet {
            width: 50%;
        }
    }
    &__title {
        color: $pink;
        padding-bottom: 0.5rem;
    }
    &__row {
        border-bottom: solid 0.5px $pink;
        margin-bottom: 0.5rem;
    }    
}