@use "../../styles/_mixins" as *;
@use "../../styles/_variables" as *;

.homepage {
    &__container {
        padding: 2rem 1rem;
        display: flex;
        flex-direction: column;
        gap:1rem;
        flex-wrap: wrap;
        @include tablet{
            flex-direction: row;
            padding: 3rem 7%;
        }
        @include desktop{
            padding: 4rem 15%;
        }
    }
    &__title {
        padding: 0 1rem;
        color: $pink;
        font-weight: 600;
        @include tablet{
            padding: 0 7%;
            font-size: 1.2rem;
        }
        @include desktop{
            padding: 0 15%;
            font-size: 1.4rem;
        }
    }
}